body {
    background: url('backgroundlogin.jpg') no-repeat center center / cover;
    color: #e0e0e0;
    font-family: Helvetica, sans-serif;
    /* margin-inline:-20px; */
    min-height: 100vh;
}

.container {
    /* padding: 20px; */
    min-height: 82vh;
}

.marquees {
    width: 100%;
    background-color: rgb(10, 66, 101);
    background-image: url("/assets/img/45-degree-fabric-light.png");
    color: #e0e0e0;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: -50px;
}

.marquees:hover {
    background-color: #292929;
    color: white;
}

.marquees:hover p {
    animation-play-state: paused;
}

.marquees p {
    display: inline-block;
    animation: marquees 20s linear infinite alternate;
    color: #e0e0e0;
    font-size: 1.2em;
}

.marquees img.marquees-logo {
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    padding-inline: 1.5px;
    padding-block: 1px;
    background-color: #ffffff;
    border-radius: 2px;
}

@keyframes marquees {
    0% { transform: translateX(100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.full-width {
    width: 100%;
}


a {
    color: #563b3b;
    margin: 10px;
    cursor: pointer;
}

.mt-100 {
    color: #9d3838;
    margin-top: 100px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-80 {
    margin-bottom: 80px;
}

.design {
    max-width: 900px;
    width: 100%;
    border: 10px solid #1b1919;
    border-radius: 12px;
    overflow: hidden;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-55 {
    margin-bottom: 55px;
}

.p-10 {
    padding: 10px !important;
}

.designx {
    background: #7e2c2c;
    padding: 15px !important;
}

.design .row {
    margin: 0px;
    padding: 0px;
}

.design .row div {
    padding: 0px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.orblock span {
    background: #433737;
    vertical-align: middle;
    width: 40%;
    height: 2px;
    display: inline-block;
}

.social {
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    display: inline-block;
    color: #982929;
    padding: 7px;
}

.social .fa {
    font-size: 20px !important;
}

.facebook {
    background: #1b2e55;
}

.g-plug {
    background: #EB4747;
}

.social .fa:hover, .social:hover {
    color: #DDD;
}

.btn-design {
    width: 100%;
    border-radius: 20px;
    background: #51b016;
    color: #FFF;
}

.btn-design:hover {
    background: #0f1d2b;
    color: #FFF;
}

.input-group {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #CCC;
}

.input-group .input-group-addon {
    background: #FFF;
    border: 0px;
}

.input-group .form-control {
    border: 0px;
}

.input-group .form-control:focus {
    box-shadow: none;
}

p {
    color: #881010;
}

@media only screen and (max-width: 767px) {
    .no-small {
        display: none;
    }
}

.round {
    border-radius: 4px;
}

.round2 {
    border-radius: 8px;
    border: none;
    outline: none;
}

input[type="button"] {
    display: block;
    background-color: #0f232d;
    color: rgb(245, 245, 245);
    border: none;
    outline: none;
    height: 40px;
}

.btn-color {
    background: #393f4b !important;
}

.btn-color-blue {
    background: #547290 !important;
    color: white !important;
}

.onhoverlight:hover {
    color: black;
    background: #e8eaeb !important;
}

.onhoverdark:hover {
    background: #111111 !important;
}

.onhoverblue:hover {
    background: #2b3641 !important;
}

.onhoverlightblue:hover {
    background: #4d8bf1 !important;
}

.icon-color {
    color: black !important;
}

.UpZIS- {
    font-size: 13px;
}

.A2W7l {
    font-size: 14px;
}

.mF5fo {
    font-size: 18px;
}

.G7BHUb {
    font-weight: bold
}

.dDoNo {
    font-size: xx-large !important
}

.adiow {
    font-size: 20px;
}

input[type="text"] {
    display: block;
    background-color: #f1f3f4;
    color: black;
    border: none;
    outline: none;
}

textarea {
    height: 120px;
    resize: none;
}

#content-desktop {
    display: block;
}

#content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: block;
    }
}

.hrefWithoutDecoration {
    text-decoration: none !important;
    color: white !important;
}

.hrefWithoutDecoration2 {
    text-decoration: none !important;
    color: black !important;
}

.hrefWithoutDecoration h1 {
    text-decoration: none !important;
    color: white !important;
}

.newblue{
    background-color: #182838;
    background-image: url("/assets/img/45-degree-fabric-light.png");
}

.newblue:hover{
    background-color: #1b1b1b;
    background-image: url("/assets/img/45-degree-fabric-light.png");
}

.footers p {
    min-height: 50px;
    margin-top: -25px;
    padding-top: 12px;
    margin-inline: 20px;
    border-radius: 10px;
    color: #e0e0e0;
    text-align: center;
    background-color: rgb(10, 66, 101);
    background-image: url("/assets/img/45-degree-fabric-light.png");
}