/* Styling untuk pop-up */
.popup-overlay {
    display: none; /* Awalnya tidak terlihat */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Warna gelap transparan */
    z-index: 1000;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.52); /* Efek transparan */
    backdrop-filter: blur(15px);
    padding-inline: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.popup p {
    color: black;
    font-weight: bold;
    margin-block: 15px;
    user-select: none;
}

