@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.marquee {
    width: 100%;
    background-color: rgb(10, 66, 101);
    background-image: url("/assets/img/45-degree-fabric-light.png");
    color: #e0e0e0;
    text-align: center;
    padding-block: 10px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
}

.marquee:hover {
    background-color: #292929;
    color: white;
}

.marquee p {
    display: inline-block;
    animation: marquee 20s linear infinite alternate;
    user-select: none;
}

.marquee img.marquee-logo {
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    padding-inline: 1.5px;
    padding-block: 1px;
    background-color: #ffffff;
    border-radius: 2px;
    user-select: none;
    pointer-events: none;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('backgroundlogin.jpg') no-repeat center center/cover;
}

.password-container {
    width: 90vw;
    max-width: 400px;
    padding: 20px;
    background: rgba(223, 223, 223, 0.12); /* Efek transparan */
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 55%;
    left: 72%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.password-container:hover {
    background: rgba(223, 223, 223, 0.12); /* Efek transparan */
    backdrop-filter: blur(15px);
}

.password-container h6 {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: center;
    user-select: none;
}

.password-box {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 1rem;
    text-align: center;
    position: relative;
}

.password-box h2 {
    margin-bottom: 25px;
    color: rgb(5, 5, 5);
    user-select: none;
}

.inputBox {
    position: relative;
    margin-top: 35px;
    margin-bottom: 25px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    color: black;
    font-size: 18px;
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    font-size: 18px;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    user-select: none;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #2554b3;
    font-weight: bold;
    font-size: 14px;
}

.password-display {
    margin-top: 20px;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    font-size: 200px;
    color: #333;
    border: 1px solid #ccc;
    min-height: 60px;
    user-select: none;
}

.btn {
    outline: none;
    border: none;
    background-color: rgb(255, 200, 1);
    background-image: url("/assets/img/45-degree-fabric-light.png");
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.01s ease;
    margin-top: 30px;
    user-select: none;
}

.btn:hover {
    color: white;
    background-color: rgb(5, 5, 5);
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.motor-container {
    position: absolute;
    bottom: 84%;
    left: 10%;
    transform: translateX(-50%);
    z-index: 1;
}

.motor-animation, .motor-baruteks {
    height: 35vw;
    width: auto;
    animation: motorMove 1.5s infinite;
    position: absolute;
    left: 0;
    user-select: none;
}

@keyframes motorMove {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(0, -10px); }
}

@media (max-width: 768px) {
    .password-container {
        width: 90vw;
    }
    
    .motor-animation, .motor-baruteks {
        width: 60vw;
    }
}

.spaced-btn {
    margin-top: 10px;
    width: 100%;
}

.hidden {
    display: none;
}

.password-display {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    text-align: center;
    word-wrap: break-word;
    user-select: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Jarak antar tombol */
}

.button-group .btn {
    flex: 1; /* Membuat tombol memiliki ukuran yang sama */
    text-align: center;
    font-size: 0.9rem;
    padding-inline: 5px;
}

#tutupHalamanBtn {
    position: relative;
    z-index: 1000;
}